@import '../utilities/colors';
@import '../utilities/layout';

.App {
  color: $fg-color;
  text-align: center;
  background: url('/img/background.png');
  background-size: cover;
  display: flex;
  flex-direction: row;
  @media (min-width: $desktop-min) {
    height: 100vh;
  }
}

.content-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
  @media (min-width: $mobile-l-min) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  @media (min-width: $desktop-min) {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PlayerSearchBox-wrapper {
  width: 100%;
}

.all-data-cards-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  @media (min-width: $desktop-min) {
    flex-direction: row;
  }
}

.ProfileCard-StatCards-wrapper {
  order: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  @media (min-width: $desktop-min) {
    order: 1;
    width: 45%;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.StatCards-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#ppg-card {
  margin-left: 0;
}

#rpg-card {
  margin-right: 0;
}
