@import '../utilities/colors';

.App {
  text-align: center;
  background: url('/img/background.png');
  display: flex;
  flex-direction: row;
}

.title {
  color: $fg-color;
}

.content-wrapper {
  margin-left: 6rem;
  margin-right: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PlayerSearchBox-wrapper {
  width: 100%;
}

.all-data-cards-wrapper {
  display: flex;
  flex-direction: row;
}

.ProfileCard-StatCards-wrapper {
  order: 1;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
}

.StatCards-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#ppg-card {
  margin-left: 0;
}

#rpg-card {
  margin-right: 0;
}
