@import '../utilities/colors';
@import '../utilities/layout';

.AppStateScreen-loading, .AppState-loading, .AppState-undefined {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(25, 25, 25, 0.8);
}

.AppStateScreen-ready {
  display: none;
}
