@import '../utilities/layout';

.LeagueComparisonCard {
  order: 1;
  @media (min-width: $layout-breakpoint) {
    order: 2;
    width: 24%;
  }
}

.LeagueComparisonCard-graph-wrapper {
  margin-top: 2 * $base-spacing;
  margin-bottom: 4 * $base-spacing;
}
