@import '../utilities/colors';

.PlayerSearchBox {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  input {
    text-align: center;
    background: none;
    border: none;
    color: $fg-color;
  }
  input:focus {
    outline: none;
  }
  input::placeholder {
    color: $fg-color;
  }
}
