@import '../utilities/colors';
@import '../utilities/layout';

.PlayerSearchBox {
  padding: $base-spacing 0 $base-spacing 0;
  display: flex;
  justify-content: center;

  input {
    text-align: center;
    background: none;
    border: none;
    color: $fg-color;
  }
  input:focus {
    outline: none;
  }
  input::placeholder {
    color: $fg-color;
  }

  ul {
    list-style-type: none;
  }

  .react-autosuggest__suggestions-list {
    text-align: center;
    padding-left: 0;
    margin: 0 0 0 0;
  }

  .react-autosuggest__suggestion {
    color: $accent-color;
  }
  .react-autosuggest__suggestion--highlighted {
    color: $fg-color;
  }
}
